<div class="center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>RESISTER</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form action="" #f="ngForm" (ngSubmit)="registeruser(form)">
        <mat-form-field>
          <mat-label for="firstname">firstname</mat-label
          ><input
            type=" text"
            ngModel
            required
            matInput
            placeholder="firstname"
            name="firstname"
            id="firstname"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label for="lastname">lastname</mat-label
          ><input
            type=" text"
            ngModel
            required
            matInput
            placeholder="lastname"
            name="lastname"
            id="lastname"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label for="email">email</mat-label
          ><input
            type="email"
            matInput
            id="email"
            name="email"
            placeholder="Enter Email"
            ngModel
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label for="password">password</mat-label
          ><input
            type="password"
            matInput
            id="password"
            name="password"
            placeholder="Enter password"
            ngModel
            required
          />
          <mat-hint align="start" class=""
            ><strong>We Dont Share Password</strong>
          </mat-hint>
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="accent"
          value="registeruser"
        >
          register
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <strong class="loginlink"
        >Already have account
        <a
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
          mat-button
          color="accent"
          >LogIn</a
        ></strong
      >
    </mat-card-actions>
  </mat-card>
</div>
