<div class="row justify-content-center">
  <div class="col-md-5 mt-5">
    <div class="card ">
      <div class="card-header "><h3 class="text-uppercase">Register</h3></div>
      <div class="card-body">
        <form
          action=""
          class="form"
          #form="ngForm"
          (ngSubmit)="registeruser(form)"
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id=""
              name="firstname"
              placeholder="firstname"
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id=""
              name="lastname"
              placeholder="lastname"
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id=""
              name="email"
              placeholder="Enter EmailId"
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              id=""
              name="password"
              placeholder="Enter password"
              ngModel
              required
            />
            <small class="">we don't share password</small>
          </div>

          <button
            type="submit"
            class="btn btn-primary float-right"
            value="registeruser"
          >
            register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
